# Server Configuration
PORT=8080

# PostgreSQL Database Configuration
PGHOST=localhost
PGPORT=5432
PGDATABASE=titipin
PGUSER=postgres
PGPASSWORD=your_password_here
DB_CONNECTION_TIMEOUT_MS=5000
HTTP_HOST=0.0.0.0
PGSSLMODE=disable